[Unit]
Description=Run Proxmox guest agent ping watchdog every minute

[Timer]
OnBootSec=10min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=ping_watchdog.service

[Install]
WantedBy=timers.target

